@import url(https://fonts.googleapis.com/css?family=Righteous);


.container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.container:before {
  position: relative;
  content: '';
  display: inline-block;
  vertical-align: middle;
  font-size: 0;

}

h1 {
  display: inline-block;
  margin-left: 20px;
  z-index: 1;
  color: #FFF3D9;
  font-family: 'Righteous', serif;
  font-size: 5em; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  max-width: 30vw;
}

h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.8em; 
  left: 0.4em; 
  z-index: -1;
  text-shadow: none;
  max-width: 30vw;
  background-image:
    linear-gradient(
      45deg,
      transparent 45%,
      #FFF3D9 45%,
      #FFF3D9 55%,
      transparent 0
      );
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
}